.home-container {
  position: relative;
  padding: 0 2.8rem;
  max-width: calc(1296px + 5.6rem);
  margin: auto;
  padding: 4.5rem 2.5rem 0 2.5rem;
}
.welcome {
  height: 150px;
  position: relative;
}
.welcome-text {
  position: absolute;
  left: 12%;
  transform: translate(-25%, 20%);
}
.welcome-text p {
  margin-bottom: 5px;
}
.welcome-text p .regis {
  color: #222 !important;
}
.welcome-text p .regis:hover {
  color: #f6623b !important;
}
.title h3 {
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.mt--42 {
  margin-top: 42px;
}
.banner {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.banner img {
  max-width: 100%;
}
