.room-detail {
  position: relative;
  top: 70px;
}
.slider-light-box img {
  height: 420px;
  width: 100%;
  padding-right: 5px;
  object-fit: cover;
  cursor: pointer;
}
.slider-light-box {
  background-color: black;
  height: 420px;
}
.slider-light-box .slick-prev {
  left: 5rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.slider-light-box .slick-next {
  right: 5rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.slider-light-box .slick-next:hover,
.slider-light-box .slick-next:focus,
.slider-light-box .slick-prev:hover,
.slider-light-box .slick-prev:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.slider-light-box .slick-next::before {
  color: #fff;
}
.slider-light-box .slick-prev::before {
  color: #fff;
}
.room-detail-body {
  max-width: calc(1100px + 5.6rem);
  margin: auto;
  padding: 2.5rem 2.5rem 0 2.5rem;
}
.room-detail-left {
  padding: 0 2rem;
}
.room-detail-left .fa {
  padding: 6px 8px;
  background-color: #cccccc;
  border-radius: 50%;
}
.room-detail-left h1 {
  font-size: 2rem;
  font-weight: 900;
  color: black;
}
.info {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.info span {
  margin-left: 10px;
  font-weight: 700;
}
.size {
  font-size: 1rem;
}
.detail {
  margin-top: 36px;
  text-align: justify;
}
.room-detail-left .avatar {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  position: absolute;
  top: 15px;
  left: 50px;
}
.price-title {
  margin-top: 60px;
  margin-bottom: 24px;
}
.price-title h3 {
  font-size: 1.75rem;
  margin: 0;
  font-weight: 900;
  color: black;
}
.price-title span {
  font-size: 1rem;
}
.room-price > div:nth-child(odd) {
  background-color: #eaeaea;
}
.room-price .is-flex {
  align-items: center;
  padding: 12px 18px;
  display: flex;
  flex-wrap: wrap;
}
.is-flex .flex-title {
  font-size: 1rem;
  color: #333;
  flex: 0 0 50%;
}
.is-flex .flex-number {
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  text-align: right;
  flex: 0 0 50%;
}
.rule-title {
  margin-top: 60px;
}
.rule-title h3 {
  font-size: 1.75rem;
  margin: 0;
  font-weight: 900;
}
.mt--24 {
  font-size: 1.25rem;
  margin-top: 24px;
  margin-bottom: 6px;
  font-weight: 900;
}
.check-in {
  margin-bottom: 30px;
}
.room-sidebar {
  position: sticky;
  top: 100px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}
.room-sidebar-content {
  padding: 24px;
}
.room-sidebar-pricing {
  margin: 0 0 1rem;
}
.room-sidebar-pricing .bold {
  font-size: 28px;
  font-weight: 900;
}
.book-room {
  border: none;
  margin-top: 0.5rem;
  width: 100%;
  height: 3rem;
  color: #fff;
  transition: all 0.3s;
  background-image: linear-gradient(90deg, #f65e38 0, #f68a39 51%, #f65e38);
  box-shadow: 0 4px 12px 0 rgba(246, 116, 57, 0.4);
  border-radius: 5px;
  background-size: 200% auto;
  font-weight: 700;
}
.book-room:hover:not(.disabled-button),
.book-room:active,
.book-room:focus {
  color: #fff;
  background-position: 100%;
  background-image: linear-gradient(90deg, #f65e38 0, #f68a39 51%, #f65e38);
}
.room-sidebar-detail .is-flex {
  align-items: center;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.room-sidebar-detail .flex-price {
  font-size: 1rem;
  color: #333;
  text-align: right;
  flex: 0 0 50%;
}
.count {
  font-weight: 900;
  color: #000 !important;
}

/* Room-detail */
button {
  cursor: pointer;
}
.drop-title {
  margin-right: 100px;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}
.increment {
  float: right;
}
.drop {
  padding: 10px;
}
.plus,
.minus {
  font-size: 30px;
}
.plus:hover,
.minus:not(.disabled-button):hover {
  color: #f65e39;
}
.disabled-button {
  cursor: not-allowed;
  opacity: 0.4;
}
.delete {
  color: #000;
  margin-top: 10px;
}
.guest-num {
  margin: 10px;
  vertical-align: text-bottom;
  font-size: 1rem;
  color: #000;
}
.guest {
  color: #000;
  margin-bottom: 1rem;
  margin-top: 6px;
  height: 2.625rem;
}
.guest:hover,
.guest:focus {
  color: #000;
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  .room-detail-body {
    padding: 2.5rem 1.25rem 2rem 1.25rem;
  }
  .room-detail-left {
    padding: 0;
  }
  .room-detail-left .avatar {
    display: none;
  }
}
@media (min-width: 375px) and (max-width: 400px) {
}
