.body {
  position: relative;
  top: 90px;
  height: 500px;
  padding: 0 2.8rem;
  margin: auto;
  max-width: calc(1520px + 5.6rem);
}
.room-content h2 {
  font-weight: 900;
}
.listRooms-col {
  margin: 2rem 0.75rem 0 0.75rem;
  max-width: 18%;
}
.listRooms-image img {
  width: 100%;
  height: 147px;
  object-fit: cover;
}
.listRooms-name {
  margin-top: 0.5rem;
}
.listRooms-name h3 {
  font-size: 1rem;
  margin-bottom: 0;
  display: -webkit-box;
  max-height: 52px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
  transition: all 0.3s;
}
.listRooms-name h3:hover {
  color: #f65e39;
}
.listRooms-name p {
  font-size: 0.875rem;
  margin: 5px 0;
}
p.room-type {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #888;
  max-height: 1.5rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
p.room-price {
  font-size: 1rem;
  font-weight: 900;
}
.ant-rate {
  color: #feb039;
  font-size: 15px;
  margin-right: 5px;
}
.ant-rate-star:not(:last-child) {
  margin-right: 2px;
}
